
body {
 
   display: flex
     
     flex-direction: column

}

 

article,
nav,
aside {
 height: 50vh;
  
 background-color: #353535;
}

nav {
 
   flex: 1;
 background-color: #888888;
}